// Code Div

.code-div {
  .div-template;
}

@media screen and (max-width: 450px) {
  .code-div {
    top: 75px;
  }
}

@media screen and (max-width: 790px) {
  //removes strips
  .code-div {
    margin: 0;
  }

  .code-title {
    margin: 0;
  }
}

@media screen and (min-width: 700px) {
  .code-div {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media screen and (max-width: 450px) {
  .code-div {
    top: 75px;
  }
}

@media screen and (max-width: 790px) {
  //removes strips
  .code-div {
    margin: 0;
  }
}

.reason-to-code {
  margin-bottom: 10px;
  font-weight: 400;
}

.code-para, .code-activity {
  font-weight: 400;
}

//Timeline

.timeline-div {
  margin-bottom: 10px;
}
.timeline-title {
  .main-div-title;
}

.timeline-key {
  .timeline-div;
  background-color: @aqua;
}

.timeline-left {
  border-color: @gray;
  padding: 3%;
  min-width: 200px;
  text-align: right;
}

.timeline-right {
  padding: 3%;
}

@media screen and (min-width: 660px) {
  .timeline-div, .timeline-key {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
  }

}

//why code?
.word-emphasis {
  font-size: 30px;
  color: @earth;
}
