@Josefin: 'Josefin Sans', sans-serif;

@aqua: #1474C2;
@earth: #2D080D;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a:link {
  text-decoration: none;
}

ul {
  text-align: center;
  img {
    width: 40px;
    margin: 5px;
  }
}

body {
  background-color: black;
  z-index: -1;
  height: 100%;
}

@import 'strips.less';
@import 'musician-menu.less';
@import 'developer-menu.less';
@import 'ejerson-menu.less';
@import 'musician-menu-queries.less';
@import 'developer-menu-queries.less';
@import 'ejerson-menu-queries.less';
