@Ubuntu: 'Ubuntu', sans-serif;

@aqua: #1474C2;
@earth: #2D080D;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.contact {
  background-color: white;
  background-size: cover;
  top: 33%;
  right: 0;
  left: 70%;
  bottom: 33%;
  position: absolute;
  overflow: scroll;
  z-index: 5;
}

a:link {
  text-decoration: none;
}



ul {
  text-align: center;
  img {
    width: 40px;
    margin: 5px;
  }
}

body {
  background-color: black;
  z-index: -1;
  height: 100%;
}

.human-text {
  font-family: @Ubuntu;
  font-weight: 800;
  letter-spacing: 3px;
  font-size: 50px;
  color: @aqua;
  border: 1px;
  border-color: @earth;
  text-align: left;
  margin-top: 60px;
  padding-left: 20%;
}

h1 {
  font-family: @Ubuntu;
  font-weight: 800;
  letter-spacing: 3px;
  font-size: 60px;
  color: @earth;
  text-align: left;
  margin-top: 60px;
  padding-left: 20%;
}

.developer {
  background-color: white;
  color: @earth;
  border-style: solid;
  border-color: white;
  position: absolute;
  background-size: cover;
  bottom: 67%;
  top: 0;
  right: 0;
  left: 0;
}

.human {
  background-color: gray;
  position: absolute;
  right: 30%;
  left: 0;
  bottom: 33%;
  top: 33%;
  -webkit-box-shadow: 4px 4px 11px 2px rgba(0,0,0,0.45);
  -moz-box-shadow: 4px 4px 11px 2px rgba(0,0,0,0.45);
  box-shadow: 4px 4px 11px 2px rgba(0,0,0,0.45);
}

.musician {
  background-color: white;
  border-style: solid;
  border-color: white;
  color: @earth;
  position: absolute;
  background-size: cover;
  bottom: 0;
  top: 67%;
  right: 0;
  left: 0;
}

@import 'strips.less';
