// Navigation Buttons
.nav-div {
  width: 100%;
  background-color: white;
}

// Hover for all Nav Buttons
.nav-btn-hover {
  background-color: @gray;
  color: white;
  transition: ease-in-out .7s;
  #resource-btn {
    display: none;
  }
}



@media screen and (min-width: 450px) {
  // Nav Button
  .nav-btn {
    padding: 16px;
    font-size: 15px;
    width: 20%;
    border: none;
  }

  .nav-btn:hover {
    .nav-btn-hover;
  }

  
}

@media screen and (max-width: 450px) {
  .nav-div {
    display: none;
  }

  .introduction {
    top: 75px;
    padding-top: 10px;
  }
}
