// Navigation Buttons
.nav-btn {
  width: 100%;
  background-color: white;
}

// Hover for all Nav Buttons
.nav-hover {
  background-color: @gray;
  color: white;
  transition: ease-in-out 1s;
}

// About Button
.about-btn {
  padding: 16px;
  font-size: 15px;
  width: 20%;
  border: none;
  margin-bottom: 10px;

}

.about-btn:hover {
  .nav-hover;
}

// Music Button
.music-btn {
  .about-btn;
}

.music-btn:hover {
  .nav-hover;
}

// Code Button
.code-btn {
  .about-btn;
}

.code-btn:hover {
  .nav-hover;
}

// Blog Button
.blog-btn {
  .about-btn;
}

.blog-btn:hover {
  .nav-hover;
}

// Resources Button
.resources-btn {
  .about-btn;
  border-right: none;
}

.resources-btn:hover {
  .nav-hover;
}
