
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {

}

h1 {
  text-align: center;
  margin-top: 3em;
}

.developer {
  background-color: #fffff0;
  border-style: solid;
  border-color: white;
  position: absolute;
  background-size: cover;
  bottom: 67%;
  top: 0;
  right: 0;
  left: 0;
}

.human {
  background-color: black;
  position: absolute;
  right: 30%;
  left: 0;
  bottom: 33%;
  top: 33%;
}

.human-text {
  color: white;
  text-align: center;
}

.musician {
  background-color: #fffff0;
  border-style: solid;
  border-color: white;
  position: absolute;
  background-size: cover;
  bottom: 0;
  top: 67%;
  right: 0;
  left: 0;
}
